.section.quote {
    display: block;

    .quote-text {
        line-height: 1.3em;
        color: var(--text-color);

        .quote-img {
            color: var(--primary-color);
            font-size: 1.3em;
            margin-right: .5em;
        }
    }

    .quote-author {
        color: var(--text-light);
        text-align: right;
        margin-top: 1em;
    }
}